<mat-card>
  <form class="form" [formGroup]="registerFormGroup" (ngSubmit)="register()">
    <mat-form-field style="width: 100%" appearance="outline">
      <mat-label>Nazwa użytkownika</mat-label>
      <input matInput placeholder="Login" formControlName="username">
      <mat-error *ngIf="username.hasError('required')">Nazwa użytkownika jest wymagana</mat-error>

    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="email" formControlName="email">
      <mat-error *ngIf="email.hasError('required')">Email jest wymagany</mat-error>
      <mat-error *ngIf="email.hasError('email')">Zła forma maila</mat-error>

    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nazwa klubu</mat-label>
      <input matInput placeholder="Nazwa klubu" formControlName="clubName">
      <mat-error *ngIf="clubName.hasError('required')">Nazwa klubu jest wymagana</mat-error>

    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Hasło</mat-label>
      <input matInput placeholder="Password" type="password" formControlName="password">
      <mat-error *ngIf="password.hasError('required')">Hasło jest wymagane</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Powtórz hasło</mat-label>
      <input matInput placeholder="Password again" type="password" formControlName="secondPassword">
      <mat-error *ngIf="secondPassword.hasError('required')">Hasło jest wymagane</mat-error>

    </mat-form-field>
    <div class="action-buttons">
      <button mat-raised-button (click)="reset()">Cancel</button>
      <button mat-raised-button color="primary" type="submit">Register</button>
    </div>
  </form>
</mat-card>
