<mat-card>
  <form class="form" [formGroup]="registerFormGroup" (ngSubmit)="register()">
    <mat-form-field style="width: 100%" appearance="outline">
      <input matInput placeholder="Login" formControlName="login">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput placeholder="email" formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Password" formControlName="password">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Password again" formControlName="secondPassword">
    </mat-form-field>
    <div class="action-buttons">
      <button mat-raised-button (reset)="registerFormGroup.reset()" >Cancel</button>
      <button mat-raised-button color="primary" type="submit">Register</button>
    </div>
  </form>
</mat-card>
