.mat-form-field {
  width: 100%;
}

.mat-card {
  display: flex;
  width: 80%;
  margin: 0 auto;

}
.action-buttons{
  width: 100%;
  text-align: center;
  display: inline-block;
}

.form{
  margin:0 auto;
}
