<mat-card>
  <form class="form" [formGroup]="loginFormGroup" (ngSubmit)="confirm()">
    <mat-form-field style="width: 100%" appearance="outline">
      <mat-label>Login lub email</mat-label>
      <input matInput placeholder="Login lub email" formControlName="login">
      <mat-error *ngIf="login.hasError('required')">Login jest wymagany</mat-error>

    </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Hasło</mat-label>
        <input [type]="hide ? 'password' : 'text'" matInput autocomplete="password" (change)="clearError()" placeholder="Hasło" formControlName="password">
        <button mat-icon-button matSuffix  type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.hasError('required')">Hasło jest wymagane</mat-error>
      </mat-form-field>
    <div class="action-buttons">
      <button mat-raised-button color="primary" type="submit">Zaloguj</button>
    </div>
  </form>
</mat-card>
