<h4 mat-dialog-title>Stwórz drużynę</h4>
<div mat-card-content>
  <form class="form" [formGroup]="teamForm" >
    <mat-form-field class="col-md-12" appearance="outline">
      <mat-label>Nazwa drużyny</mat-label>
      <input matInput placeholder="Nazwa drużyny" formControlName="teamName">
      <mat-error *ngIf="teamName.hasError('required')">Nazwa drużyny jest wymagana</mat-error>
    </mat-form-field>
  </form>
  <div  class="action-buttons">
      <button mat-raised-button (click)="reset()" type="button" class="float-left">Zamknij</button>
      <button mat-raised-button (click)="register()" color="primary" type="submit" class="float-right">Stwórz</button>
    </div>
</div>


