<div class="container">
  <div class="row">
    <div class="col">
      <mat-form-field>
        <input matInput placeholder="Szukaj" (keyup)="filterDress($event.target.value)">
      </mat-form-field>
    </div>
    <div class="col text-right">
        <button class="btn btn-secondary" type="button" style="margin-right: 5px;" (click)="addDress()">
          Dodaj stroje
        </button>
    </div>
  </div>
  <div class="row">
    <div class="col text-center" *ngIf="dress && filteredDress.length;else noData ">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th >Id</th>
            <th>Kolor</th>
            <th>dozwolone numery</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let dress of filteredDress; let i = index">
            <th>{{i+1}}</th>
            <th>{{dress.color}}</th>
            <th>{{dress.allowedNumbers}}</th>
          </tr>
          </tbody>
        </table>

      </div>

    </div>
    <ng-template #noData>
      <div class="col text-center">
        <h4>Brak danych</h4>
      </div>
    </ng-template>
  </div>
</div>
