<h4 mat-dialog-title>Formularz</h4>
<div mat-dialog-content>
  <mat-horizontal-stepper>
    <mat-step [stepControl]="staffForm">
      <form [formGroup]="staffForm" class="pt-2">
        <ng-template matStepLabel>Dane podstawowe</ng-template>
        <mat-form-field class="col-md-4">
          <mat-label>Imię</mat-label>
          <input matInput placeholder="Imię" formControlName="firstName" required>
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <mat-label>Nazwisko</mat-label>
          <input matInput placeholder="Nazwisko" formControlName="lastName" required>
        </mat-form-field>
        <mat-form-field class="col-md-4">
          <mat-label>Numer licencji</mat-label>
          <input matInput placeholder="Numer licencji" formControlName="licenseNumber">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Pozycja</mat-label>
          <mat-select formControlName="position">
            <mat-option *ngFor="let position of positions" [value]="position.value">{{position.key}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Inna funckja</mat-label>
          <input matInput placeholder="Inna funkcja" formControlName="odderFunction">
        </mat-form-field>
        <div class="pt-2">
          <button mat-button matStepperNext class="float-right" color="primary" (click)="submit()">Zapisz</button>
        </div>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
