<div >
  <mat-form-field class="float-left">
    <input matInput placeholder="Szukaj" (keyup)="filterPlayers($event.target.value)">
  </mat-form-field>
  <button mat-button (click)="addPlayer()" class="float-right">Dodaj zawodnika</button>
  <button mat-button (click)="importPlayers()" class="float-right">Importuj zawodników</button>
  <div class="table-responsive table-hover table-wrapper-scroll-y my-custom-scrollbar" *ngIf="filteredPlayers">
    <table class="table">
      <thead>
      <tr>
        <th style="width: 33.33%">Imie</th>
        <th style="width: 33.33%">Nazwisko</th>
        <th style="width: 33.33%">Data urodzenia</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let player of filteredPlayers">
        <th style="width: 33.33%">{{player.firstName}}</th>
        <th style="width: 33.33%">{{player.lastName}}</th>
        <th style="width: 33.33%">{{player.birthDay}}</th>
      </tr>
      </tbody>
    </table>
  </div>
</div>
