<!--<mat-toolbar color="warn">-->
<!--  <mat-toolbar-row>-->
<!--    <span>Footer</span>-->
<!--  </mat-toolbar-row>-->
<!--</mat-toolbar>-->

<div class="footer  bg-dark " style="height: 10vh">
  <footer>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-4 col-md-3 item">
          <h3>Info</h3>
          <ul>
            <li>
              <a>Created by </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
