
  <button mat-button (click)="addMatch()" class="float-right">Stwórz mecz</button>
  <mat-form-field class="float-left">
    <input matInput placeholder="Szukaj"  (keyup) = "filterMatch($event.target.value)">
  </mat-form-field>
  <div class="table-responsive table-hover table-wrapper-scroll-y my-custom-scrollbar" *ngIf="filteredMatches">
    <table class="table">
      <thead>
      <tr>
        <th style="width: 25%">Data</th>
        <th style="width: 25%">Mecz wyjazdowy</th>
        <th style="width: 25%">Wypełniony raport pomeczowy</th>
        <th style="width: 25%">Szczegóły</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let match of filteredMatches" >

        <th style="width: 25%">{{match.matchDate}}</th>
        <th style="width: 25%">
          <mat-icon *ngIf="match.isAway" color="primary">done</mat-icon>
          <mat-icon *ngIf="!match.isAway" color="warn">clear</mat-icon>
        </th>
        <th style="width: 25%">

          <mat-icon *ngIf="match.isFinish" color="primary">done</mat-icon>
          <mat-icon *ngIf="!match.isFinish" color="warn">clear</mat-icon>
        </th>
        <th style="width: 25%">
          <mat-icon  >edit</mat-icon>
        </th>

      </tr>
      </tbody>
    </table>
  </div>
